.window {
  background-color: rgb(100, 169, 179);
}

.App {
    /* border: 1px solid black; */
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 130px;
}

.form {
  /* border: 1px solid black; */
  border-radius: 12px;
  width: 60%;
  height: 50px;
  margin: 15px;
  padding: 15px;
  background-color: rgb(106, 80, 255);
  box-shadow: 0 0 10px rgba(0,0,0, 0.4);
  border-radius: 10px;
}

.input-wrapper {
  display: inline-block;

}

.form .form-inside{
  display: block;
  justify-content: space-around;
  margin: 0 auto;
  padding: 15px;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: right;
}

.list {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-around;
  padding-bottom: 15px;
  margin-top: 5px;
}

.list .column {
  width: 30%;
}

.todo, .in-progress, .done {
  padding: 10px 10px 0 10px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0,0,0, 0.4);
  border-radius: 10px;
}

.todo {
  background-color: rgb(189, 9, 9);
}

.todo .item{
  background-color: rgb(189, 60, 9);
}

.in-progress {
  background-color: rgb(255, 217, 0);
}

.in-progress .item {
  background-color: rgb(179, 153, 7);
}

.done {
  background-color: rgb(1, 100, 1);
}

.done .item{
  background-color: rgb(2, 63, 2);
}

.item {
  margin-bottom: 10px;
  color: white;
  border: 1px solid white;
  padding: 5px;
  border-radius: 7px;
}

.item.dragging {
  background-color: grey;
}

.error {
  color: red;
}

.notification-wrapper {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 300px;
}

.notification-item {
  box-shadow: 0 0 10px rgba(0,0,0, 0.4);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
  animation: SlideLeft 0.5s;
  animation-fill-mode: forwards;
  width: 300px;
}

@keyframes SlideLeft {
  0% {
    margin-left: 120%;
  }
  100% {
    margin-left: 0;
  }
}

.notification-item.exit {
  animation: SlideRight 0.5s;
  animation-fill-mode: forwards;
}

@keyframes SlideRight {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 120%;
  }
}

.notification-item p {
  margin: 0;
  padding: 10px;
}

.notification-item .bar {
  height: 10px;
}

.notification-item.success .bar {
  background-color: green;
}

.notification-item.error .bar {
  background-color: tomato;
}